body{
    font-family: 'Alata', sans-serif;
}

.holder{
    position: relative;
}

.logox{
    position: absolute;
    z-index: 1;
    top: 30px;
    left: 30px;
    box-shadow: 3px -3px 5px black;
}


@media screen and (max-width:600px){
    .reshide{
        display: none;
    }
}
html, body { height: 100%; }
body { margin: 0; }
