<div class="bg-dark text-light w-100 p-2">
    <span class="h2">Add Post</span> 
</div>
    
    
    
    <div class="container pt-3 pb-3">
        
        <p>Image</p>
        <p class="p-3 rounded border">
            <input type="file" class="w-50" ng2FileSelect [uploader]="uploader" (change)="getImageName($event)">
            <!-- <button class="btn btn-danger" (click)="upload()">Upload</button> -->
        </p><br>
        <input class="form-control" disabled [(ngModel)]="formdata.post_image"><br>
        <p>Category Name</p>
            <select class="form-control" [(ngModel)]="formdata.cat_id" (change)="getCatname()">
                <option *ngFor="let x of catlist" value={{x._id}}>{{x.name}}</option>
            </select><br>
        <p>Title</p>
        <input class="form-control" [(ngModel)]="formdata.title"><br>
        <p>Summary</p>
        <ckeditor [editor]="Editor" tagName="textarea" [(ngModel)]='formdata.summary'></ckeditor><br>
        <!-- <textarea class="form-control" [(ngModel)]="formdata.summary"></textarea><br> -->
        <p>PageUrl</p>
        <input class="form-control" [(ngModel)]="formdata.pageurl"><br>
        <p>Meta Title</p>
        <input class="form-control" [(ngModel)]="formdata.meta_title"><br>
        <p>Meta Description</p>
        <input class="form-control" [(ngModel)]="formdata.meta_desc"><br>
        <button class="btn btn-success" (click)="insert()">Add Post</button>
        <br><br>
        <div class="alert-danger form-control w-100" *ngIf="invalid===true">** Please fill all details **</div>
    </div>