<div class="container-fluid bg-light" id="extras">
	<div class="container text-right">
		<button class="btn btn-outline-danger rounded-pill mt-5" onclick="funTop()">
			Back <i class="fa fa-arrow-circle-up"></i>
		</button>
	</div><br>
	<div class="container pt-3 pb-5">
		<div class="row pt-5 pb-5">
			<div class="col-md-4 pt-3 pb-3">
                <p class="h2"><i class="fa fa-map-marker text-danger"></i> Explore India</p>
				<p class="mb-5 mt-5 pr-5 mr-5">
                    This website is an online guide dedicated to travelling across India. 
                    Explore India is focused on travel reviews.
				</p>
				
				<p class="text-danger h4">
					<span class="mr-4"><i class="fa fa-facebook"></i></span>
					<span class="mr-4"><i class="fa fa-google-plus"></i></span>
					<span class="mr-4"><i class="fa fa-linkedin"></i></span>
                    <span class="mr-4"><i class="fa fa-twitter"></i></span>
                    <span class="mr-4"><i class="fa fa-instagram"></i></span> 
				<p>
			</div>
			<div class="col-md-3 pt-3 pb-3">
				<h4 class="text-danger">Navigate</h4>
				<ul class="list-group mt-4 ml-3">
					<li><a class="text-dark nav-link" routerLink="">Home</a></li>
					<li><a class="text-dark nav-link" routerLink="/all-articles">Articles</a></li>
					<li><a class="text-dark nav-link" routerLink="/about">About</a></li>
					<li><a class="text-dark nav-link" routerLink="/contact">Contact</a></li>
				</ul>
			</div>
			
			<div class="col-md-5 pt-3 pb-3">
				<h4 class="text-danger">Our Newsletter</h4>
				<p class="mt-4">
					Subscribe to our newsletter to get the latest News and offers..!
			    </p>
	            <div class="mt-4">
					<input type="text" class="form-control rounded-pill" placeholder="Email Address"><br>
					<button type="button" class="btn btn-danger mt-3 rounded-pill w-25">GO</button>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="text-center p-4 bg-danger text-light">&copy; Explore India 2019</div>  