<div class="container mt-5 mb-5">
    <p class="h4 text-danger">About Site</p>
    
    <p class="h5 mt-5">
        Explore India is a travel guide or "a site of information about a place 
        designed for the use of visitors or tourists".<br>
        It includes information about sights, activities and varying detail of historical and cultural information.<br>
        Different kinds of guides, focusing on different aspects of travel, from adventure travel to relaxation.
    </p>

    <p class="h4 text-danger mt-5">About Developer</p>
    <div class="mt-5 bg-light rounded p-3">
        <div class="row">
            <div class="col-md-3 text-center">
                <img class="img-fluid rounded-pill" src="../../assets/user.jpg">
            </div>
            
            <div class="col-md-9 h5">
                <p class="h3 mt-3 mb-3">Karan Das</p>
                    My name is Karan. I live in Mumbai,India.
                    I am a BSc.IT graduate and looking forward 
                    for a career in Web Developement.
                    This site has been built on MEAN Stack
                    i.e. Mongo, Express, Angular and Node to be more specific. 
            </div>
        </div>
    </div>
</div>